.block {
  background-color: rebeccapurple;
}

.h1 {
    width: 100%;
    height: 100px;
    margin:0;
    padding-top: 0p;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer {
  position: fixed;
  left: 0; bottom: 0;
  text-align: right;
  background: #39b54a; 
    color: #fff; 
    width: 100%;
}

.div {
  padding-top: 10px;
}