.block {
  background-color: rebeccapurple;
}



.div {
  padding-top: 10px;
}


.both {
  // background-color: aquamarine;
  background-image: url("../../assets/image/shrec.jpeg");
}

.addButton {
  margin-bottom: 80px;
}